		<div class="riskanalys">

{{dashboard-risk }}

			<section class="category">
					<h1>Algemeen</h1>
				{{#each dataDoubleCombined.algemeen as |data|}}
						<h5>{{data.Categorie}}</h5>
					<select class="choose" name="" onchange="number(this)">
							<option value=""
								disabled selected>Selecteer
							</option>
						{{#each data.Antwoorden as |antwoord|}}					
							<option value={{antwoord.Gewicht}} name={{antwoord.Name}}>
								{{antwoord.Name}}
							</option>
						{{/each}}
					</select>
				{{/each}}
			</section>

			<section class="category">
				<h1>Opleiding</h1>
				{{#each dataDoubleCombined.opleiding as |data|}}
						<h5>{{data.Categorie}}</h5>
					<select class="choose" name="" onchange="number(this)">
							<option value=""
								disabled selected>Selecteer
							</option>
						{{#each data.Antwoorden as |antwoord|}}					
							<option value={{antwoord.Gewicht}} name={{antwoord.Name}}>
								{{antwoord.Name}}
							</option>
						{{/each}}
					</select>
				{{/each}}
			</section>

			<section class="category">
				<h1>Huishouding</h1>
				{{#each dataDoubleCombined.huishouding as |data|}}
						<h5>{{data.Categorie}}</h5>
					<select class="choose" name="" onchange="number(this)">
							<option value=""
								disabled selected>Selecteer
							</option>
						{{#each data.Antwoorden as |antwoord|}}					
							<option value={{antwoord.Gewicht}} name={{antwoord.Name}}>
								{{antwoord.Name}}
							</option>
						{{/each}}
					</select>
				{{/each}}
			</section>

			<section class="category">
				<h1>Werk & Sociaal</h1>
				{{#each dataDoubleCombined.werk as |data|}}
						<h5>{{data.Categorie}}</h5>
					<select class="choose" name="" onchange="number(this)">
							<option value=""
								disabled selected>Selecteer
							</option>
						{{#each data.Antwoorden as |antwoord|}}					
							<option value={{antwoord.Gewicht}} name={{antwoord.Name}}>
								{{antwoord.Name}}
							</option>
						{{/each}}
					</select>
				{{/each}}
			</section>

			<section class="category">
				<h1>Justitie</h1>

				{{#each dataDoubleCombined.justitie as |data|}}
						<h5>{{data.Categorie}}</h5>
					<select class="choose" name="" onchange="number(this)">
							<option value=""
								disabled selected>Selecteer
							</option>
						{{#each data.Antwoorden as |antwoord|}}					
							<option value={{antwoord.Gewicht}} name={{antwoord.Name}}>
								{{antwoord.Name}}
							</option>
						{{/each}}
					</select>
				{{/each}}
			</section>

		</div>
	
{{yield}}